@use "@styles/main";

.h5p-content-calendar {
  background-color: main.$color-background;
  color: main.$color-text;

  .h5p-content-calendar-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
