@use "@styles/main";

.h5p-content-calendar-message-box.message-box-hint {
  background-color: main.$color-hint-message-background;
  border: 1px solid main.$color-hint-message-border;
  box-sizing: border-box;
  color: main.$color-hint-message-text;
  font-size: .8em;
  padding: .8em;

  .h5p-content-calendar-message-box-message {
    text-align: center;
  }
}
